#icon-1 {
  .st0{fill:#F58345;}
  .st1{fill:#BBD758;}
  .st2{fill:#FFFFFF;}
  .st3{fill:#CAE861;}
  .st4{fill:#D8DBDB;}
  .st5{fill:#96989C;}
  .st6{fill:#4C4D4F;}
  .st7{fill:#373737;}
}

#icon-2 {
  .st0{fill:#64C9D7;}
  .st1{fill:#ADDFE6;}
  .st2{fill:#3CBFD1;}
  .st3{fill:#6D6E70;}
  .st4{fill:#9CDDE6;}
  .st5{fill:#FFFFFF;}
  .st6{fill:#808184;}
  .st7{fill:#231F20;}
  .st8{fill:#B1B3B3;}
  .st9{fill:#E6E7E8;}
  .st10{fill:#A6CE42;}
  .st11{fill:#373737;}
}

#icon-3 {
  .st0{fill:#BBD758;}
  .st1{fill:#DBDBDB;}
  .st2{fill:#A6A8AB;}
  .st3{fill:#009435;}
  .st4{fill:#E6E7E8;}
  .st5{fill:#4B4E49;}
  .st6{fill:#A4CC40;}
  .st7{fill:#5B5E58;}
  .st8{fill:#B4DB53;}
  .st9{fill:#B5B7BA;}
  .st10{fill:#373737;}
}

#icon-4 {
  .st0{fill:#20A0DB;}
  .st1{fill:#B3B3B3;}
  .st2{fill:#C4C4C4;}
  .st3{fill:#AAABB0;}
  .st4{fill:#D1D2D4;}
  .st5{fill:#AAAAAB;}
  .st6{fill:#E8E8E8;}
  .st7{fill:#FFFFFF;}
  .st8{fill:#FFE687;}
  .st9{fill:#C9C9C9;}
  .st10{fill:#D0D2D3;}
  .st11{fill:#818385;}
  .st12{fill:#B8B9BA;}
  .st13{fill:#373737;}
  .st14{fill:#49B7EB;}
}

#icon-5 {
  .st0{fill:#FCB017;}
  .st1{fill:#E6E7E8;}
  .st2{fill:#B1B3B3;}
  .st3{fill:#373737;}
  .st4{fill:#808184;}
  .st5{fill:#FFCE13;}
  .st6{fill:#6D6E70;}
  .st7{fill:#FFE99E;}
  .st8{fill:#FFFFFF;}
}

#icon-6 {
  .st0{fill:#FFCE13;}
  .st1{fill:#ABABAB;}
  .st2{fill:#E6D0BA;}
  .st3{fill:#635647;}
  .st4{fill:#373634;}
  .st5{fill:#38322B;}
  .st6{fill:#A37C49;}
  .st7{fill:#373737;}
  .st8{fill:#E6D8CA;}
  .st9{fill:#E6B07A;}
  .st10{fill:#614626;}
  .st11{fill:#543D21;}
  .st12{fill:#966F4B;}
  .st13{fill:#9C734D;}
  .st14{fill:#73532D;}
  .st15{fill:#B8916C;}
  .st16{fill:#402E19;}
  .st17{fill:#F7925F;}
}

#more-icon {
  .cls-1 {
    fill: #fff;
    fill-rule: evenodd;
  }
}

#icon-fb,#icon-tw,#icon-be,#icon-dr,#icon-in,#icon-g,#icon-t {
  .cls-1 {
    fill: #fff;
    fill-rule: evenodd;
  }
}

#icon-hand {
  .st0{fill:#FF9D00;}
  .st1{fill:#FFCE13;}
  .st2{fill:#373737;}
  .st3{fill:#ECEFF0;}
  .st4{fill:#FFE994;}
  .st5{fill:#E6E7E8;}
}

#sponsor-logo-mountains {
  .st0{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
}

#sponsor-logo-envato {
  .st0{fill:#82B541;}
  .st1{fill:#FFFFFF;}
}

#contact_us-address_icon {
  .st0{fill:#BBD758;}
  .st1{fill:#DBDBDB;}
  .st2{fill:#A6A8AB;}
  .st3{fill:#009435;}
  .st4{fill:#E6E7E8;}
  .st5{fill:#4B4E49;}
  .st6{fill:#A4CC40;}
  .st7{fill:#5B5E58;}
  .st8{fill:#B4DB53;}
  .st9{fill:#B5B7BA;}
  .st10{fill:#373737;}
}