//Color variables
$primaryDarkColor:#4b4d4f;
$addDarkerColor:#373737;

$primaryBrightColor:#90d23d;
$hoverBrighterColor:#46c90b;

$fontColorDark:#242424;



//Dimensions
$page_max-width:1360px;

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,400,700);

// Font Variables
$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', serif;






