.envato_elite {
  position: relative;
  padding: pxToPercent(167px, $page_max-width) 0;
  background-color: $primaryDarkColor;

  &-container {
    @include autoMargin;
    width: pxToPercent(1030px, $page_max-width);
    min-width: 1030px;
    //padding: rem(167) 0;
    position: relative;

    @include respond-to(1100px) {
      width: 90%;
      min-width: 0;
    }
  }

  &-intro {
    @include intro-section(dark, right);
    width: pxToPercent(670px, 1030px);
    margin-bottom: rem(34);
    margin-left: auto;

    @include respond-to(815px) {
      width: 71%;
    }

    @include respond-to(715px) {
      width: 80%;
    }

    @include respond-to(600px) {
      & h2 {
        font-size: 2.5rem;
      }
    }
  }

  .btn-info {
    @include btn-info($primaryBrightColor);
    margin-left: auto;
  }

  &-badge {
    position: absolute;
    top:- pxToPercent(230px, 356px);
    left: 0;
    z-index: 2;
    width: pxToPercent(330px, 1030px);

    @include respond-to(1100px) {
      top: -45%;
    }

    @include respond-to(920px) {
      top: -35%;
    }

    @include respond-to(815px) {
      width: 30%;
      top: -30%;
    }

    @include respond-to(715px) {
      width: 20%;
      top: -20%;
    }

    @include respond-to(600px) {
      top: -15%;
    }

    & img {
      max-width:100%;
      height:auto;
    }
  }

  .triangle {
    width: 100%;
    padding-top: pxToPercent(122px, $page_max-width);
    height: 0;
    position: absolute;
    z-index: 1;

    &-down {
      top:-1px;
      left:0;
    }

    &-up {
      bottom:-1px;
      right:-1px;
    }

    &-icon {
      position: absolute;
      width:100%;
      height:100%;
      top: 0;
      left: 0;
    }
  }
}