#event_details {
  padding: pxToPercent(60px, $page_max-width) 0 pxToPercent(158px, $page_max-width) 0;
  background-color: #FFFFFF;

  @include respond-to(920px) {
    padding-bottom: 8%;
  }

  @include respond-to(715px) {
    padding-top: 0;
  }

  @include respond-to(600px) {
    padding-bottom: 4%;
  }

  @include respond-to(450px) {
    padding-top: 4%;
  }

  .event_details-container {
    position: relative;
    width: pxToPercent(1030px, $page_max-width);
    min-width: 1030px;
    @include autoMargin;

    @include respond-to(1100px) {
      width: 90%;
      min-width: 0;
    }

    @include respond-to(400px) {
      width: 100%;
    }

    .event_details-flex-container {

      @include respond-to(715px) {
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(center);
        @include flex-wrap(nowrap);
      }

      @include respond-to(450px) {
        @include flex-direction(column);
      }
    }
  }

  .event_details-intro {
    @include intro-section(light, left);
    width: pxToPercent(532px, 1030px);
    margin-bottom: pxToPercent(139px, 1030px);

    @include respond-to(920px) {
      margin-bottom: 7%;
    }
    @include respond-to(715px) {
      width: 50%;
    }
    @include respond-to(600px) {
      & h2 {
        font-size: 2.5rem;
      }
    }
    @include respond-to(450px) {
      width: 100%;
      & h2 {
        font-size: 2rem;
      }
    }

    @include respond-to(400px) {
      width: 90%;
    }

    & a {
      @include btn-register;
      margin-top: 15%;
      display: none;

      @include respond-to(715px) {
        display: block;
      }
      @include respond-to(450px) {
        margin-top: 4%;
        width: 50%;
      }
      @include respond-to(400px) {
        font-size: 1em;
        font-weight: 700;
      }
    }
  }

  .event_details-section {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    margin-bottom: pxToPercent(99px, 1030px);

    @include respond-to(715px) {
      @include flex-flow(column);
      width: 47%;
      position: relative;
      z-index: 10;
      margin-bottom: 2%;
    }

    @include respond-to(450px) {
      width: 80%;
    }
    @include respond-to(400px) {
      width: 90%;
    }

    &-unit {
      @include flex-basis(pxToPercent(300px, 1030px));
      text-align: center;
      margin-bottom: 1.1em;

      &-icon-container {
        @include autoMargin;
        width: pxToPercent(197px, 300px);
        padding-top: pxToPercent(197px, 300px);
        height: 0;
        position: relative;

        @include respond-to(715px) {
          width: 40%;
          padding-top: 40%;
        }

        @include respond-to(450px) {
          width: 30%;
          padding-top: 30%;
        }

        .event_details-section-unit-icon {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }

      & h3 {
        @include font($roboto, black, 35px, $fontColorDark);
        font-size: 2.1875rem;
        padding-top: 1.0571em;
        padding-bottom: 0.5143em;

        @include respond-to(715px) {
          padding-top: 0.3em;
          padding-bottom: 0.3em;
        }

        @include respond-to(715px) {
          font-size: 1.8rem;
        }
        @include respond-to(450px) {
          font-size: 1.5rem;
        }
      }

      & p {
        @include font ($roboto, light, 14px, $fontColorDark);
        line-height: 1.2857em;
      }
    }
  }

  .event_details-table {
    @include display(flex);
    @include flex-flow(column nowrap);
    @include justify-content(space-between);

    width: 100%;
    margin-bottom: pxToPercent(35px, 1030px);

    border-radius: 13px;
    overflow: hidden;

    font-size: 1rem;

    @include respond-to(960px) {
      font-size: 0.8rem;
    }
    @include respond-to(715px) {
      font-size: 0.7rem;
    }
    @include respond-to(500px) {
      font-size: 0.6rem;
    }

    &-row {
      @include display(flex);
      @include flex-flow(row nowrap);
      @include font($roboto, regular, 22px, #ffffff);
      font-size: 1.375em;

      &:nth-of-type(odd) {
        background-color: $primaryDarkColor;
      }
      &:nth-of-type(even) {
        background-color: $addDarkerColor;
      }

      &-item {
        @include display(flex);
        @include flex-flow(row nowrap);
        @include align-items(center);
        padding: 1.0454em;

        @include respond-to(500px) {
          padding: 1.0454em 0;
        }

        &:nth-child(1) {
          @include flex-basis(pxToPercent(228px, 1030px));
          @include flex-grow(1);
          @include justify-content(center);
        }
        &:nth-child(2) {
          @include flex-basis(pxToPercent(535px, 1030px));
          @include flex-grow(1);
        }
        &:nth-child(3) {
          @include flex-basis(pxToPercent(126px, 1030px));
          @include justify-content(center);

          .event_details-table-icon {
            width: 1.5em;
            height: 1.5em;
          }
        }
      }
    }

    &-header {
      @include font($roboto, black, 30px, #ffffff);
      font-size: 1.875em;
      background-color: $primaryBrightColor !important;

      .event_details-table-row-item {
        padding: 0.8666em;

        @include respond-to(500px) {
          padding: 0.8666em 0;
        }
      }
    }
  }

  .event_details-ps {
    @include autoMargin;
    width: pxToPercent(817px, 1030px);

    @include respond-to(715px) {
      width: 90%;
    }

    & p {
      @include font($roboto, light, 14px, $fontColorDark);
      font-size: 0.875em;
      line-height: 1.0714em;
      text-align: center;

      @include respond-to(500px) {
        font-size: 0.8em;
      }
    }
  }

  .signUp-form {
    position: absolute;
    top: -240px;
    right: 0;
    z-index: 7;

    width: 26.9375em;
    padding: 1.8125em;
    @include box-sizing(border-box);

    background-color: #FFFFFF;
    box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);

    font-size: 1rem;

    @include respond-to(1100px) {
      font-size: 0.8rem;
      top: -180px;
    }

    @include respond-to(920px) {
      font-size: 0.7rem;
    }

    @include respond-to(815px) {
      top: -140px;
    }

    @include respond-to(715px) {
      display: none;
    }

    & fieldset {
      @include autoMargin;
      width: 100%;

      & legend {
        @include font($roboto, bold, 30px, $fontColorDark);
        font-size: 1.875em;
        margin-bottom: 0.6666em;
        text-align: center;
      }

      @include form-fields;

    }

    &-btn {
      @include btn-form($primaryBrightColor);
    }

    & p {
      @include font($roboto, light, 15px, #6c6c6c);
      font-size: 0.9375em;
      line-height: 1.2667em;
      width: 15.333em;
      @include autoMargin;
      text-align: center;
    }
  }

}







