#past_events {
  padding: pxToPercent(116px, $page_max-width) 0 pxToPercent(91px,$page_max-width) 0;
  background-color: #FFFFFF;
  //padding: rem(116) 0 rem(91) 0;

  @include respond-to(920px) {
    padding: 6% 0;
  }

  @include respond-to(715px) {
    padding: 4% 0;
  }

  .past_events-container {
    width: pxToPercent(1168px, $page_max-width);
    //min-width: 1168px;
    @include autoMargin;
  }

  .past_events-intro {
    @include intro-section(light, left);
    width: pxToPercent(600px, 1168px);
    min-width: 600px;
    margin-left: pxToPercent(99px, 1168px);
    //margin-bottom: rem(107);
    margin-bottom: pxToPercent(107px,1168px);

    @include respond-to(815px) {
      margin-left: 0;
    }

    @include respond-to(600px) {
      & h2 {
        font-size: 2.5rem;
      }
    }

    @include respond-to(715px) {
      width:100%;
      min-width: 0;
      margin-bottom: 4%;
    }
  }

  .past_events-section {
    //margin-bottom: rem(98);
    margin-bottom: pxToPercent(98px,1168px);

    @include respond-to(715px) {
      margin-bottom: 4%;
    }

    &-row {
      @include display(flex);
      @include justify-content(center);
      @include align-items(center);
      @include flex-flow(row wrap);
      width: 100%;

      &.row1 {
        & a:nth-child(1) {
          flex: 1.76904;
        }

        & a:nth-child(2) {
          flex: 1.5082;
        }

        & a:nth-child(3) {
          flex: 1.5027;
        }
      }

      &.row2 {
        & a:nth-child(1) {
          flex: 2.4306;
        }

        & a:nth-child(2) {
          flex: 1.5027;
        }

        & a:nth-child(3) {
          flex: 1.6457;
        }
      }

      & img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

  .btn-info {
    @include btn-info($primaryDarkColor);
    margin: 0 auto;
  }
}