#speakers {
  background-color: #FFFFFF;
  //padding: rem(144) 0;
  padding: pxToPercent(144px, $page_max-width) 0;

  @include respond-to(920px) {
    padding: 7% 0;
  }
  @include respond-to(715px) {
    padding: 4% 0;
  }


  .speakers-container {
    width: pxToPercent(972px, $page_max-width);
    min-width: 972px;
    @include autoMargin;

    @include respond-to(1100px) {
      width: 86%;
      min-width: 0;
    }
    @include respond-to(715px){
      width: 90%;
    }

  }
  .speakers-intro {
    @include intro-section(light, left);
    width: pxToPercent(600px, 967px);
    margin-bottom: pxToPercent(62px,967px);
    //margin-bottom: rem(62);
    margin-right: auto;

    @include respond-to(1100px) {
      width:75%;
    }
    @include respond-to(715px) {
      width:100%;
    }
    @include respond-to(600px) {
      & h2 {
        font-size: 2.5rem;
      }
    }
  }

  .speakers-section {
    width:100%;
    //font-size: 0;
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-flow(row wrap);

    @include respond-to(715px) {
      @include justify-content(space-around);
    }

    &-unit {
      @include box-sizing(border-box);
      //display: inline-block;
      //vertical-align: middle;
      font-size: 1rem;
      width:18.39em;
      padding: 2em;
      margin: 0 2.625em 2.625em 0;
      border-radius: 12px;
      background:$primaryBrightColor;

      @include respond-to(1100px) {
       font-size: 0.85rem;
        margin: 0 1.5em 1.5em 0;
      }

      @include respond-to(920px) {
        font-size: 0.7rem;
      }

      @include respond-to(715px) {
        margin-right: 0;
        font-size: 0.8rem;
      }

      &:nth-of-type(3n) {
        margin-right: 0;
      }

      &:hover {
        background: url('../img/speakers-texture.jpg');
        cursor: pointer;
      }
      &.speakers-section-unit-with-icon {
        &:hover {
          background:$primaryBrightColor;
          cursor: default;
        }

        @include respond-to(715px) {
          display:none;
        }
      }

      & h3 {
        @include font($roboto, black, 45px, #ffffff);
        font-size: 2.8125em;
        margin-bottom: 0.71111em;
      }

      & p {
        @include font($roboto, regular, 18px, #ffffff);
        font-size: 1.125em;
        margin-bottom: 2.1698em;
      }

      &-social_block-icon {
        width:34px;
        height:34px;
      }

     &-with-icon {
       position: relative;
       padding:0;
       padding-top: 18.625em;
       height: 0;
     }

      &-icon {
        position: absolute;
        width: 100% - 2*10.1351%;
        height: 100% - 2*10.1351%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}






