#sponsors {
  position: relative;
  //padding: rem(162) 0 rem(125) 0;
  padding: pxToPercent(162px,$page_max-width) 0 pxToPercent(125px,$page_max-width) 0;
  background-color: $primaryDarkColor;

  .sponsors-container {
    width: pxToPercent(628px, $page_max-width);
    min-width: 628px;
    @include autoMargin;

    @include respond-to(715px) {
      width: 90%;
      min-width: 0;
    }
  }

  .sponsors-intro {
    @include intro-section(dark, center);
    width: 100%;
    margin-bottom: rem(45);

    @include respond-to(600px) {
      & h2 {
        font-size: 2.5rem;
      }
    }
  }

  .already-sponsors {
    width: 100%;
    @include autoMargin;
    margin-bottom: rem(60);
    font-size: 0;

    @include respond-to(715px) {
      width: 80%;
    }

    &-unit {
      display: inline-block;
      vertical-align: middle;
      margin-right: pxToPercent(85px, 628px);

      &:nth-child(1) {
        position: relative;
        height: 0;
          width: pxToPercent(175px, 628px);
          padding-top: pxToPercent(69px, 628px);
        }

      &:nth-child(2) {
        width: pxToPercent(96px, 628px);

        & img {
          max-width: 100%;
          height: auto;
        }
      }

      &:nth-child(3) {
        position: relative;
        height: 0;
        width: pxToPercent(151px, 628px);
        padding-top: pxToPercent(69px, 628px);
        margin-right: 0;
      }

      &-svg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: block;
      }
    }
  }

  .btn-info {
    @include btn-info($primaryBrightColor);
    margin: 0 auto;
  }

  .triangle {
    width: 100%;
    padding-top: pxToPercent(122px, $page_max-width);
    height: 0;
    position: absolute;
    z-index: 1;

    &-down {
      top:-1px;
      left:0;
    }

    &-up {
      bottom:-1px;
      right:-1px;
    }

    &-icon {
      position: absolute;
      width:100%;
      height:100%;
      top: 0;
      left: 0;
    }
  }

}

